<div class="calendar">
  <div class="calendar__header">
    <button type="button" class="calendar__arrow"><i class="fas fa-angle-left"></i></button>
    <div>
      <span class="calendar__month">---</span>
      <span class="calendar__year">----</span>
    </div>
    <button type="button" href="#" class="calendar__arrow"><i class="fas fa-angle-right"></i></button>
  </div>
  <div class="calendar__days">
    <span>L</span>
    <span>M</span>
    <span>M</span>
    <span>J</span>
    <span>V</span>
    <span>S</span>
    <span>D</span>
  </div>
  <div class="calendar__dates">
  </div>
  <style>
    button {
      border: 0;
      background-color: transparent;
      outline: .2rem solid transparent;
    }



    .calendar {
      display: inline-grid;
      justify-content: center;
      align-items: center;
      background: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0px 40px 30px -20px rgba(0, 0, 0, 0.3);

      /* position: fixed; */
    }

    .calendar__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
      margin-bottom: 20px;
      font-weight: 300;
    }

    .calendar__year {
      font-weight: 600;
      margin-left: 10px;
    }

    .calendar__arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #0a3d62;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      transition-duration: 0.2s;
      position: relative;
    }

    .calendar__arrow:hover {
      background: #eee;
    }

    .calendar__days {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(7, 1fr);
      color: #999;
      font-weight: 600;
      margin-bottom: 15px;
    }

    .calendar__days span {
      width: 50px;
      justify-self: center;
      align-self: center;
      text-align: center;
    }

    .calendar__dates {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
    }

    .calendar__dates button {
      cursor: pointer;
      font-size: 16px;
      justify-self: center;
      align-self: center;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      margin: 2px;
      transition-duration: 0.2s;
    }

    .calendar__dates button.today {
      box-shadow: inset 0px 0px 0px 2px #0a3d62;
    }

    .calendar__dates button:first-child {
      grid-column: 1;
      /* replaced later with main.js */
    }

    .calendar__dates button:hover {
      background: #eee;
    }

    .calendar__dates button:focus {
      background: #0a3d62;
      color: #fff;
      font-weight: 600;
    }
  </style>
  <script>
    //GET CURRENT YEAR, MONTH
    const date = new Date();
    const currentYear = date.getFullYear();
    const currentMonth = date.getMonth() + 1; // since months are 0-based

    // GET CURRENT DAYNAME, DAYNUMBER (LUNES, 12)
    let todayName = new Date().toLocaleDateString('es', { weekday: 'long' }); //>lunes   >newDate().getDay gives the number of day on week, like 3 for wednesday

    let todayNumber = new Date().getDate(); //number of day in month, today is 12


    //GET HOW MANY DAYS IN MONTH
    function getDaysInMonth(year, month) {
      return new Date(year, month, 0).getDate();
    }
    const daysInCurrentMonth = getDaysInMonth(currentYear, currentMonth);
    console.log(daysInCurrentMonth);

    const daysInJanuary = getDaysInMonth(2025, 1);
    console.log(daysInJanuary); //>31


    //GET THE FIRST DAY OF MONTHS
    function getFirstDayOfMonth(year, month) {
      return new Date(year, month, 1);
    }

    const firstDayCurrentMonth = getFirstDayOfMonth(
      date.getFullYear(),
      date.getMonth(),
    );
    console.log(firstDayCurrentMonth); //> Thu Dec 01 2022
    firstDayCurrentMonth.getDay(); //4 (jueves)

    const firstDayJanuary = getFirstDayOfMonth(2023, 0);
    console.log(firstDayJanuary); // Wed Jan 01 2025

    //NAMES FOR CALENDAR__HEADER https://stackoverflow.com/a/18648314 there is also narrow (only first letter of month), can use 'es' 'default'
    let currentMonthShortName = new Date().toLocaleString('es', { month: 'short' }) //lo obtienes a partir de un object date, no funciona usando currentMonth (que es un int number)

    document.querySelector('.calendar__year').textContent = currentYear; //2022
    document.querySelector('.calendar__month').textContent = currentMonthShortName;


    //CREATE BTNS AND PLACE THE FIRST ONE ON THEIR COLUMN
    //35 instead of daysInCurrentMonth
    for (i = 0; i < daysInCurrentMonth; i++) {
      let btnDia = document.createElement('button');
      let dia = document.createElement('time');
      dia.innerHTML = i + 1; //so it starts from 1 not 0

      btnDia.appendChild(dia);

      if (dia.innerHTML == todayNumber) {
        dia.parentElement.classList.add('today')
      }
      document.querySelector('.calendar__dates').appendChild(btnDia);
    }
    let firstDayBtn = document.querySelector('.calendar__dates button:first-of-type');
    console.log(firstDayBtn)
    firstDayBtn.style.gridColumn = firstDayCurrentMonth.getDay();
  </script>