<ul class="marquee-list">
  <li class="marquee-li glass">
    <div class="li-inner">
      <svg>
        <use xlink:href="#HTML5" />
      </svg>
    </div>
  </li>
  <li class="marquee-li">
    <div class="li-inner">
      <svg>
        <use xlink:href="#CSS3" />
      </svg>
    </div>
  </li>
  <li class="marquee-li">
    <div class="li-inner">
      <svg>
        <use xlink:href="#Sass" />
      </svg>
    </div>
  </li>
  <li class="marquee-li">
    <div class="li-inner">
      <svg>
        <use xlink:href="#JavaScript" />
      </svg>
    </div>
  </li>
  <li class="marquee-li">
    <div class="li-inner">
      <svg>
        <use xlink:href="#JQuery" />
      </svg>
    </div>
  </li>
  <li class="marquee-li">
    <div class="li-inner">
      <svg>
        <use xlink:href="#TypeScript" />
      </svg>
    </div>
  </li>
  <li class="marquee-li">
    <div class="li-inner">
      <svg>
        <use xlink:href="#Liquid" />
      </svg>
    </div>
  </li>
</ul>