<!DOCTYPE html>
<html lang={{page.lang}}>

{% include head.html %}

<body>

  <script>
    var hasUsedDarkMode = localStorage.getItem("hasUsedDarkMode");
    var prefersDarkMode = window.matchMedia('(prefers-color-scheme: dark)')['matches']; //sin el ['matches'] devuelve: MediaQueryList { media: "(prefers-color-scheme: dark)", matches: true, onchange: null }

    // console.log(hasUsedDarkMode, prefersDarkMode)

    // hasUsedDarkMode == null ? document.documentElement.dataset.dark = prefersDarkMode : document.documentElement.dataset.dark = hasUsedDarkMode

    //si es true data-dark va a ser igual a ese true
    //si es null entonces va a usar la preferencia de su dispositivo (true si prefiere dark-mode)

    document.documentElement.dataset.dark = hasUsedDarkMode || 'true';

    // console.log(document.documentElement.dataset)
  </script>

  <header class="pt-2">


    <section class="is-flex is-align-items-center">
      <nav class="has-full-width">
        <ul class="container is-max-desktop">
          <li class="logo">
            <a href="/" class="button is-secondary">
              <span>APS</span>
            </a>
          </li>
          <li>
            <button id="toggle" class="button is-primary">
              <!-- is-sr-only -->
              <span class="hides-if-dark">{{site.data.ui.btns.use-dark[page.lang]}}</span>
              <span class="hides-if-light">{{site.data.ui.btns.use-light[page.lang]}}</span>
              <!-- <svg class="sun" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M 12 16 a 4 4 0 1 0 0 -8 a 4 4 0 0 0 0 8 z "></path>
                <path d="M 12 4 v 2"></path>
                <path d="M 20 12 h -2 "></path>
                <path d="M 12 20 v -2"></path>
                <path d="M 4 12 h 2 "></path>
                <path d="M 17.657 6.343 l -1.657 1.657"></path>
                <path d="M 17.657 17.657 l -1.657 -1.657 "></path>
                <path d=" M 6.343 17.657 l 1.657 -1.657"></path>
                <path d="M 6.343 6.343 l 1.657 1.657"></path>
              </svg> -->
            </button>
          </li>
          <li>
            {%if page.lang=='es'%}
            <a class="button is-primary" href="/en" title="{{site.data.ui.btns.english.title}}">{{site.data.ui.btns.english.text}}</a>
            {%else%}
            <a class="button is-primary" href="/" title="{{site.data.ui.btns.spanish.title}}">{{site.data.ui.btns.spanish.text}}</a>
            {%endif%}
          </li>
        </ul>
      </nav>
    </section>
  </header>



  <div class="fixed icono-mouse"></div>

  <style>
    .fixed {
      position: fixed;
      left: 0;
      top: 0;
      padding: .5rem;
      /* width: 4rem; */
      scale: 2;
    }
  </style>

  <main>
    <section class="hero">
      <div class="container is-max-desktop">
        <span class="hello">
          {{-site.data.ui.hero[page.lang]hello | markdownify-}}
          <span id="fraseIs"></span>
        </span>
        <!--         <h1>
          <span class="hero-role is-flex">
            <span split-by="letter" class="letters-rotate" aria-label="{{site.data.ui.hero[page.lang]role}}">
              {{site.data.ui.hero[page.lang]role_line1}} {{site.data.ui.hero[page.lang]role_line2}}
            </span>
          </span>
        </h1> -->
        <p class="hero-desc"><strong>{{site.data.ui.newhero[page.lang]desc}}</strong></p>

        <!--  <p class="pop">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos debitis facere aspernatur dignissimos animi inventore assumenda, accusamus, modi quae maiores temporibus in pariatur iusto nisi placeat, fugiat libero. Libero, officia.</p> -->
        <div class="pop">
          <li>
            <a href="#" class="btn">Github</a>
          </li>
          <li>
            <a href="#" class="btn">Email</a>
          </li>
        </div>
    </section>

    <script>


      const frases = [
        'Desarrolladora web',
        'y nunca uso divs como botones.',
        'e intento usar los correctos atributos aria.',
        'está aprendiendo Angular.',
        'y estoy diseñando esta web.',
        'y .',
      ];
      const phrases = [
        'Front End Developer',
        'I never use div for buttons',
        'I am learning Angular',
        'I enjoy crafting new things with HTML, CSS and Javascript',
        'And this is my portfolio'
      ]



      const fraseIs = document.getElementById('fraseIs');
      let fraseActual = 0;
      if (window.location.pathname == '/en/') {
        console.log('hi')
        cambiarFrases(phrases);
      } else if (window.location.pathname == '/') {
        cambiarFrases(frases);
        console.log('hola')
      }

      function cambiarFrases(arregloDeFrases) {
        fraseIs.textContent = arregloDeFrases[fraseActual];

        fraseIs.addEventListener('animationiteration', () => {
          let fraseSiguiente;
          do {
            fraseSiguiente = Math.floor(Math.random() * arregloDeFrases.length);
          } while (fraseSiguiente === fraseActual);
          fraseActual = fraseSiguiente;
          fraseIs.textContent = arregloDeFrases[fraseActual];
          console.log(arregloDeFrases[fraseActual])
        });
      }

    </script>
    <ol>
      {%-for item in site.data.ui.nav[page.lang]-%}
      <li class="is-hidden-mobile">
        <a class="" href="#{{item[1].id}}" title="{{item[1].label}}">{{-item[1].label-}}
        </a>
      </li>
      {%-endfor-%}
    </ol>
    <style>
      .pop {
        position: fixed;
        bottom: 0;
        right: 0;
        background: pink;
        width: 10rem;
        z-index: 3;
      }
    </style>

    <section id="{{site.data.ui.nav[page.lang]projects.id}}" class="projects" aria-labelledby="projectsTitle">

      <div class="container is-max-desktop ">
        {%-for item in site.data.ui.projects[page.lang]-%}
        <!-- <pre>{{item[0]}},{{item[1]}}</pre> -->
        {%if item[0]=='title'%}
        <h2 id="projectsTitle" split-by="letter" aria-label="{{item[1]}}" class="title letters-bounce">{{item[1]}}</h2>
        {%else%}
        <p class="subtitle">{{item[1]}}</p>
        {%endif%}
        {%endfor%}


        <ul class="cards flip">
          {%-for project in site.data.projects-%}
          <li>
            <h3 class="project__name">{{project.name}}</h3>
            <div class="card" tabindex="0">
              <div class="card-inner">
                <div class="card-front">
                  <figure>
                    <img src="{{site.url}}/imgs/{{project.img}}" alt="{{project.name | prepend: 'captura de pantalla de ' }}">
                  </figure>
                  <!-- <h3 class="project__name">{{project.name}}</h3> -->
                  {{-project.subtitle[page.lang]| markdownify-}}
                </div>

                <div class="card-back">
                  {{-project.desc[page.lang] | markdownify-}}
                  <div class="is-flex">
                    {% if project.link-%}
                    <a href="{{project.link}}" target="_blank" rel="noopener noreferrer" class="button is-primary" title="{{site.data.ui.btns.demo[page.lang]}}">{{site.data.ui.btns.demo[page.lang]}}</a>
                    {% endif-%}
                    {% if project.repo_name-%}
                    <a href="https://github.com/araceliponce/{{project.repo_name}}" target="_blank" rel="noopener noreferrer" class="button is-secondary" title="{{site.data.ui.btns.code[page.lang]}}">{{site.data.ui.btns.code[page.lang]}}</a>
                    {% endif-%}
                  </div>
                </div>
              </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>



    <style>
      .fun {
        box-shadow: -10px 8px 0px rgb(196 181 253);
      }
    </style>
    <section id="{{site.data.ui.nav[page.lang]about.id}}" class="about container is-max-desktop" aria-labelledby="aboutTitle">
      {%-for item in site.data.ui.about[page.lang]-%}

      {%if item[0]=='title'%}
      <h2 id="aboutTitle" split-by="letter" aria-label="{{item[1]}}" class="title letters-bounce">{{item[1]}}</h2>
      {%else%}
      <div class="desc">{{item[1]}}</div>
      {%endif%}

      {%endfor%}


    </section>
    <section id="{{site.data.ui.nav[page.lang]skills.id}}" class="skills container is-max-desktop" aria-labelledby="skillsTitle">
      {%-for item in site.data.ui.skills[page.lang]-%}

      {%if item[0]=='title'%}
      <h2 id="skillsTitle" split-by="letter" aria-label="{{item[1]}}" class="title letters-bounce">{{item[1]}}</h2>
      {%else%}
      {{-item[1] |markdownify-}}
      {%endif%}

      {%endfor%}

      {% include tools.html %}

    </section>
  </main>

  <footer class="bg-52">
    <section class="container is-max-desktop is-flex is-align-items-center">
      <p>{{site.data.ui.footer[page.lang]copy}}</p>
      <a class="button" href="#" title="{{site.data.ui.footer[page.lang]top}}">{{site.data.ui.footer[page.lang]top}}</a>
    </section>
  </footer>
</body>

</html>