<!DOCTYPE html>
<html lang={{page.lang}}>

{% include head.html %}

<body class="inicio">

  {% include first-script.html %}

  <svg class="noise-container" width="100%" height="100%" viewBox="0 1 1365 352" preserveAspectRatio="xMidYMid slice">
    <!-- https://stackoverflow.com/questions/64570268/how-to-make-svg-width-responsive-but-keep-svg-height-unchanged -->
    <filter id="noise">
      <feTurbulence type="fractalNoise" baseFrequency="0.75" numOctaves="4" stitchTiles="stitch"></feTurbulence>
    </filter>
    <rect width="100%" height="100%" filter="url(#noise)"></rect>
  </svg>
  <div class="radial-gradient"></div>

  <main>

    <ul class="flex-col-wrap-gap1 grid on-the-right">
      <li>
        <a class="button is-small" href="{{site.data.ui.btns.oppositeLang[page.lang]link}}" title="{{site.data.ui.btns.oppositeLang[page.lang]label}}">
          {{site.data.ui.btns.oppositeLang[page.lang].label}}
        </a>
      </li>
      <li class="flex-col-wrap-gap1">
        <div class="grid-wide-small">
          <style>
            .grid-wide-small {
              display: grid;
              grid-template-columns: 1fr 2rem;
              gap: .3rem;
            }
          </style>
          <!-- or {{ page.url  | absolute_url }} -->
          <a class="button is-small" href="{{page.url}}online-cv" title="{{site.data.ui.btns.goToOnlineCv[page.lang]}}">
            {{site.data.ui.btns.goToOnlineCv[page.lang]}}
          </a>
          <a class="button is-small" href="{{site.url}}/assets/cv_{{page.lang}}.pdf" download="webdev_araceliponce" title="{{site.data.ui.btns.fastDownloadCv[page.lang]}}">
            {% include download-svg.html %}
          </a>
        </div>
      </li>
    </ul>
    <ul class="flex-col-wrap-gap1 grid on-the-left">
      <li>
        <button type="button" aria-label="Toggle theme" id="themeToggle" class="button is-small is-rounded" hidden>
          <span class="hidden-on-dark"> {{site.data.ui.btns.useDark[page.lang]}} </span>
          <span class="hidden-on-nodark"> {{site.data.ui.btns.useLight[page.lang]}} </span>
        </button>
      </li>
      <!--       <li>
        <button type="button" class="button is-small is-hidden-mobile" id="directionToggle" aria-label="Toggle scroll axis" hidden>
          Filas
        </button>
      </li> -->
      <li>
        <button type="button" class="button is-small is-rounded" id="animationToggle" role="switch" aria-checked="true" hidden>
          <span class="hidden-on-motion"> {{site.data.ui.btns.playMotion[page.lang]}} </span>
          <span class="hidden-on-nomotion"> {{site.data.ui.btns.pauseMotion[page.lang]}} </span>
        </button>
      </li>
    </ul>

    <style>
      .mt {
        margin-top: 3rem;
      }

      .almost-100vh {
        min-height: calc(100vh - 6rem);
        min-height: calc(100svh - 6rem);
        /* -6rem para que haya un balance, deberían ser mt 3 + paddings (2 y 2) */
        padding: var(--padding);
      }

      .is-small svg {
        height: 100%;
        stroke-width: 1.3;
      }
    </style>
    <section class="hero">
      <div class="wrapper almost-100vh mt">

        <div class="marquee" aria-hidden="true">
          {% include bottom-icons.html %}
          {% include bottom-icons.html %}
        </div>

        <div class="container--text">

          <div class="has-inline-padding">
            <p class="hi">{{-site.data.ui.hero[page.lang]hi| markdownify-}}</p> <!-- Hello, I am <span>Araceli</span> -->
            <p class="after-hi"> {{-site.data.ui.hero[page.lang]after-hi-}}
            </p>
            <div class="after-after-hi flex-row-wrap-gap1 align-i-center">
              <span>
                {{-site.data.ui.hero[page.lang]after-after-hi-}}
              </span>
              {%for item in site.data.ui.nav[page.lang]%}
              {% if forloop.last == true %}
              <!-- en caso sea el ultimo item de un bucle for lleva un 'and' o 'y' antes -->
              <span>{{site.data.ui.conectors.and[page.lang]}}</span>
              <a class="button is-small" href="#{{item[1].id}}" title="{{item[1].label}}">{{item[1].label}}</a>

              {% else %}
              <a class="button is-small" href="#{{item[1].id}}" title="{{item[1].label}}">{{item[1].label}}</a>
              </a>
              {% endif %}
              {%endfor%}
            </div>
          </div>
        </div>

        <div class="marquee marquee--reverse" aria-hidden="true">
          {% include top-icons.html %}
          {% include top-icons.html %}
        </div>
      </div>
    </section>


    <section id="{{site.data.ui.nav[page.lang]projects.id}}" class="projects" aria-labelledby="projectsTitle">

      <div class="container is-limited ">
        {%-for item in site.data.ui.projects[page.lang]-%}
        <!-- <pre>{{item[0]}},{{item[1]}}</pre> -->
        {%if item[0]=='title'%}
        <h2 id="projectsTitle" split-by="letter" aria-label="{{item[1]}}" class="title letters-bounce">{{item[1]}}</h2>
        {%else%}
        <p class="subtitle">{{item[1]}}</p>
        {%endif%}
        {%endfor%}


        <ul class="cards flip">
          {%-for project in site.data.projects-%}
          <li>
            <h3 class="project-name">{{project.name|capitalize}}</h3>
            <div class="card" tabindex="0">
              <div class="card-inner">
                <div class="card-front">
                  <figure>
                    <img loading="lazy" src="{{site.url}}/imgs/{{project.img}}" alt="{{project.name | prepend: 'captura de pantalla de ' }}">
                  </figure>
                  {{-project.subtitle[page.lang]| markdownify-}}
                </div>

                <div class="card-back">
                  {{-project.desc[page.lang] | markdownify-}}
                  <div class="flex-row-wrap-gap1 justify-center">
                    {% if project.link-%}
                    <a href="{{project.link}}" target="_blank" rel="noopener noreferrer" class="button is-rounded" title="{{site.data.ui.links.demo[page.lang]}}">{{site.data.ui.links.demo[page.lang]}}</a>
                    {% endif-%}
                    {% if project.repo_name-%}
                    <a href="https://github.com/araceliponce/{{project.repo_name}}" target="_blank" rel="noopener noreferrer" class="button is-rounded" title="{{site.data.ui.links.code[page.lang]}}">{{site.data.ui.links.code[page.lang]}}</a>
                    {% endif-%}
                  </div>
                </div>
              </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>


    <section id="{{site.data.ui.nav[page.lang]skills.id}}" class="skills container is-limited" aria-labelledby="skillsTitle">
      {%-for item in site.data.ui.skills[page.lang]-%}

      {%if item[0]=='title'%}
      <h2 id="skillsTitle" split-by="letter" aria-label="{{item[1]}}" class="title letters-bounce">{{item[1]}}</h2>
      {%else%}
      <div class="desc">{{item[1]}}</div>
      {%endif%}

      {%endfor%}

      {% include tools1.html %}
    </section>

    <!--     <section id="{{site.data.ui.nav[page.lang]info.id}}" class="info container is-limited" aria-labelledby="infoTitle">
      {%-for item in site.data.ui.info[page.lang]-%}

      {%if item[0]=='title'%}
      <h2 id="infoTitle" split-by="letter" aria-label="{{item[1]}}" class="title letters-bounce">{{item[1]}}</h2>
      {%else%}
      {{-item[1] |markdownify-}}
      {%endif%}

      {%endfor%}


    </section> -->
  </main>

  <footer class="footer relative" id="{{site.data.ui.nav[page.lang]info.id}}" class="info container is-limited" aria-labelledby="infoTitle">
    <h2 id="infoTitle">{{-site.data.ui.footer[page.lang]title-}}</h2>
    <div class="footer-content flex-row-wrap-gap1">
      {{-site.data.ui.footer[page.lang]question | markdownify-}}

      <address class="glass has-full-width">
        <ul class="w-fit-content mia">
          <li>
            Email: <a class="" href="mailto:aponcesanga@gmail.com" title="{{site.data.ui.links.email[page.lang]}}">aponcesanga@gmail.com</a>
          </li>
          <li>
            Github: <a href="https://github.com/araceliponce" title="{{site.data.ui.links.github[page.lang]}}">araceliponce</a>
          </li>
          <li>
            Perú (GTM/UTC -5:00)
          </li>
        </ul>
      </address>
      <style>
        .footer-content {
          --gap: 1.5rem;
        }

        .footer-content>p:first-of-type {
          font-size: 2.5rem;

          line-height: 1.2;
          margin-top: .3em;
        }

        address {
          margin: 0;
          font-style: normal;
          padding: 2rem;
          /* text-align: center; */
        }

        .firstchild-is-flex1>:first-child {
          flex: 1;
        }

        .has-full-width {
          width: 100%;
        }

        .w-fit-content {
          width: fit-content;
        }
      </style>

      <div class="flex-row-wrap-gap1 firstchild-is-flex1 has-full-width align-i-center mt">
        {{-site.data.ui.footer[page.lang]copy | markdownify-}}
        <a class="button is-small is-rounded" href="#" title="{{site.data.ui.btns.top[page.lang]}}">{{site.data.ui.btns.top[page.lang]}}</a>
      </div>
    </div>
  </footer>

</body>

</html>